@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

:root {
  --dark-green: #292D32;
  --semi-dark-green: #37474F;
  --green: #4E6663;
  --gray: #6B8081;
  --blue: #A9DFD8;
  --light-blue: #DCF2EF;
  --white: #FFFFFF;
  --light-gray: #EBEBEB;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-green);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container h1 {
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  margin: 20px;
  line-height: unset;
}

.container p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-gray);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray);
  border-radius: 50px;
  width: 423px;
}

.form input {
  background: var(--gray);
  padding: 0px 20px;
  width: 380px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  color: var(--light-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}

.form button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
}
